doctype html
html
  head
    title= title

    //- Icon stylesheet
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

    //- Fonts
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand:400,500')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:400,400i,700,900')

    //- Materialize CSS
    link(rel='stylesheet', href='/stylesheets/materialize.css')

    //- FAQ Custom CSS
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
